*{margin:0;padding:0;}

html, body, main { 
	width: 100%;
	height: 100%;
	background-color: black;
}

#board {
	display: table;
	margin: 0 auto;
	width: 100%;
	font-family: 'monospace';
	display: none;
}

#board article {
	display: table-cell;
	padding: 0 50px;
	font-size: 400px;
	transition: 1s;
}

.green {
	color: #3BBA13;
	border-color: #3BBA13;
}

.green.set {
	background-color: #155900;
}

#board article:first-child {
	border-right-width: 1px;
	border-style: solid;
	text-align: right;
	border: none;
}

#board article:last-child {
	 text-align: left;
}

#results {
	display: none;
	color: white;
	background-color: blue;
	font-family: 'monospace';
	font-size: 40px;
}

#results dl {
	display: block:
}

#results dl h3 {
	padding-bottom: 10px;
	text-align: center;
}

#results dt, dd {
	float: left;
	display: inline-block;
	width: 50%;
}

#results dt {
	text-align: left;
}

#results dd {
	text-align: right;
}

#results dt:after {
	content: ':';
	font-size: 40px;
}

#results .game {
	margin: 0 auto;
	padding: 50px 100px;
	width: 50%;
}

#players {
	display: none;
	background-color: red;
}

button {
	display: block;
	border: 0;
	margin: 0;
	padding: 50px 0;
	width: 100%;
	font-size: 100px;
	color: #fff;
	outline: 0;
	background-color: #AB0000;
	transition: 1s;
}

button:active {
	outline: 0;
	background-color: #DB7317;	
}

button#drop {
	display: none;
}

button#score {
	 background-color: #004e6b;
}

button#score:active {
	background-color: #004e6b;
}

button#reset {
	padding: 20px;
	font-size: 70px;
	background-color: #f70000;
}

button#back {
	display: none;
	background-color: #00a600;
}

button#back:active,
button#reset:active {
/*
	background-color: red;
*/
}

br {
	clear: both;
}

